$font-primary: 'Rubik', sans-serif;
$weight-regular: 400;
$weight-medium: 600;
$weight-bold: 700;

$primary-violet: #5145e4;
$primary-violet-dark: #2a2841;
$primary-red: #d24464;

$dark-blue: #0e1248;
$dark-gray: #b4b6c3;

$light-gray: #eff3ff;
$light-white: #FEFCFD;
$light-violet: #b5b4ce;
$white-violet: #d9d6e2;

$accent-primary: #f98a0c;
$accent-dark: #241300;