$font-primary: 'Rubik', sans-serif;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

$primary-violet: #5145e4;
$primary-red: #d24464;

$dark-blue: #0e1248;
$dark-gray: #b4b6c3;

$light-gray: #eff3ff;
$light-white: #FEFCFD;
$light-violet: #7c76d6;

$accent-primary: #f98a0c;
$accent-dark: #241300;