$font-primary: 'Rubik', sans-serif;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

$primary-violet: #5145e4;
$primary-red: #d24464;

$neutral-gray: #eff5fe;
$dark-blue: #0b1426;
$light-gray: #eff3ff;
$light-white: #FEFCFD;